@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
}

button {
    margin-bottom: 30px;
    margin-left: auto;
    float: right;
}

p {
    line-height: 1.6;
}

.idea {
    cursor: pointer;
    margin: 30px 0px;
}